---
import Layout from "@layouts/layout.astro";
import { getCollection } from "astro:content";
import { compareDesc } from "date-fns";

const blogPosts = await getCollection("blog");
const sortedBlogPosts = blogPosts.sort((a, b) =>
  compareDesc(a.data.pubDate as Date, b.data.pubDate)
);
---

<Layout pageTitle="Blog Posts" description="ブログの記事一覧">
  <h1>Blog Posts</h1>
  <div class="grid">
    {
      sortedBlogPosts.map((post) => {
        return (
          <article class="card">
            <a href={`/blog/${post.slug}`}>
              {post.data.title}
              <img src={post.data.image} alt="" />
              <h2>{post.data.title}</h2>
            </a>
          </article>
        );
      })
    }
  </div>
</Layout>
