@use "mq" as *;

h1 {
  color: blue;
  background-color: yellow;

  @include mq(sm) {
    color: red;
  }

  @include mq(md) {
    color: purple;
  }

  @include mq(lg) {
    color: green;
  }

  @include mq(xl) {
    color: orange;
  }
}
